---
import { Icon } from 'astro-icon';
export interface Props {}
---

<nav class="mx-auto w-screen h-24 bg-red-600">
    <div class="flex flex-row items-center">
        <img src="./public/images/pokemon-logo.svg" alt="Pokemon Logo" class="w-1/10 p-2 self-center" />
        <div>

        </div>
    </div>
</nav>